<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Pistachio</key>
	<array>
		<integer>178</integer>
		<integer>211</integer>
		<integer>195</integer>
	</array>
	<key>Mint</key>
	<array>
		<integer>153</integer>
		<integer>238</integer>
		<integer>194</integer>
	</array>
	<key>Lime</key>
	<array>
		<integer>173</integer>
		<integer>242</integer>
		<integer>88</integer>
	</array>
	<key>Chartreuse</key>
	<array>
		<integer>177</integer>
		<integer>243</integer>
		<integer>54</integer>
	</array>
	<key>Olive</key>
	<array>
		<integer>154</integer>
		<integer>190</integer>
		<integer>101</integer>
	</array>
	<key>Pear</key>
	<array>
		<integer>117</integer>
		<integer>182</integer>
		<integer>47</integer>
	</array>
	<key>Fern</key>
	<array>
		<integer>93</integer>
		<integer>190</integer>
		<integer>97</integer>
	</array>
	<key>Parakeet</key>
	<array>
		<integer>0</integer>
		<integer>191</integer>
		<integer>70</integer>
	</array>
	<key>Shamrock</key>
	<array>
		<integer>0</integer>
		<integer>173</integer>
		<integer>16</integer>
	</array>
	<key>Emerald</key>
	<array>
		<integer>0</integer>
		<integer>138</integer>
		<integer>16</integer>
	</array>
	<key>Basil</key>
	<array>
		<integer>48</integer>
		<integer>97</integer>
		<integer>44</integer>
	</array>
	<key>Pine</key>
	<array>
		<integer>34</integer>
		<integer>81</integer>
		<integer>29</integer>
	</array>
	<key>Juniper</key>
	<array>
		<integer>55</integer>
		<integer>80</integer>
		<integer>16</integer>
	</array>
	<key>Moss</key>
	<array>
		<integer>72</integer>
		<integer>108</integer>
		<integer>28</integer>
	</array>
</dict>
</plist>
